/compress
/out
commit.sh
/android-studio/sdk
/android.tests.dependencies
.apt_generated/
atlassian-ide-plugin.xml
.autotools
*.bak
*.kjsm
bin/
build/
.buildpath
/clionSDK
cmake-build-*/
com_crashlytics_export_strings.xml
/confluence/target
.cproject
crashlytics-build.properties
crashlytics.properties
/dependencies/repo
.directory 
/dist
.DS_Store
.externalToolBuilders/
fabric.properties
.factorypath
/gh-pages
.gradle/
.idea/artifacts/dist_auto_*
.idea/artifacts/ideaPlugin.xml
.idea/artifacts/PILL_*.xml
.idea/caches/build_file_checksums.ser
.idea/compiler.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/gradle.xml
.idea/httpRequests
.idea/inspectionProfiles/profiles_settings.xml
.idea/**/libraries
.idea/libraries
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/modules
.idea_modules/
.idea/modules.xml
.idea/**/mongoSettings.xml
.idea/.name
.idea/replstate.xml
.idea/runConfigurations/JPS_*.xml
.idea/runConfigurations/PILL_*.xml
/ideaSDK
.idea/**/shelf
.idea/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
/idea/testData/debugger/tinyApp/classes*
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
*.iml
*.iws
/jps-plugin/testData/kannotator
/js/js.translator/testData/out/
/js/js.translator/testData/out-min/
kotlin-ultimate/
*.launch
libraries/tools/kotlin-test-nodejs-runner/lib/
.loadpath
/local
local.properties
.metadata
*~.nib
node_modules/
*.pydevproject
.recommenders
.recommenders/
.rpt2_cache/
.settings/
.springBeans
!**/src/**/build.idea/**/workspace.xml
*.swp
.target
.tern-project
!**/test/**/build
!**/testData/**/*.iml
.texlipse
*.tmp
/tmp
tmp/
*.versionsBackup
workspace.xml
